<div class="box box-default" style="margin-bottom: 5px;">
    <div class="box-header with-border">
        <h1 class="box-title">Destaques de Python e PHP do GitHUB</h1>
    </div>
    <div class="box-body">
        <form action="{{ url_for('web_update') }}" method="GET">
        <button type="submit" class="btn btn-block btn-success btn-lg" style="width:200px">Atualizar do GitHUB</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

      <div class="box box-default">
        <div class="box-header with-border">
          <i class="fa fa-user-plus"></i>
            <h2 class="box-title text-green"><b> 1.Faça seu registro</b></h2>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <ul class="nav nav-stacked">
                <li>
                    <span class="pull-left badge bg-green">1</span>
                    <p style="padding-left: 30px">
                        Clique no botão de login com Google
                    </p>
                </li>
                <li>
                    <span class="pull-left badge bg-green">2</span>
                    <p style="padding-left: 30px">
                        <i class="fa fa-fw fa-android"></i> Se você tem um celular Android, selecione a conta Google que você usa no seu celular.<br>
                    </p>
                </li>
                <li>
                    <span class="pull-left badge bg-green">3</span>
                    <p style="padding-left: 30px">
                        <i class="fa fa-fw fa-apple"></i> Se usa iPhone use uma conta Google que vai usar no aplicativo Google Assistente.
                    </p>
                </li>
                <li>
                    <span class="pull-left badge bg-green">4</span>
                    <p style="padding-left: 30px">
                        Se não tem uma conta Google, aproveita e crie uma.
                    </p>
                </li>
                <li>
                    <span class="pull-left badge bg-green">5</span>
                    <p style="padding-left: 30px">
                        Clique na conta selecionada para finalizar o seu registro.
                    </p>
                </li>
            </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>

    <div class="col-md-6">

      <div class="box box-default">
        <div class="box-header with-border">
          <i class="fa fa-microphone"></i>
            <h2 class="box-title text-green"><b> 3.Peça ajuda para a Tia</b></h2>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul class="nav nav-stacked">
                <li>
                    <span class="pull-left badge bg-green">1</span>
                    <p style="padding-left: 30px">
                        Agora estamos prontos para usar o TIA Me Ajuda.
                    </p>
                </li>
                <li>
                    <span class="pull-left badge bg-green">2</span>
                    <p style="padding-left: 30px">
                        <i class="fa fa-fw fa-android"></i> Para abrir o Google Assitente no Android
                        basta falar OK Google. Veja as instruções detalhadas
                        <a href="https://assistant.google.com/intl/pt_br/#?modal_active=none" target="_blank">aqui</a>.
                    </p>
                </li>
                <li>
                    <span class="pull-left badge bg-green">3</span>
                    <p style="padding-left: 30px">
                        <i class="fa fa-fw fa-apple"></i> Para abrir o Google Assitente no iPhone
                        instale o APP via Apple Store. Veja as instruções detalhadas
                        <a href="https://itunes.apple.com/br/app/google-assistente/id1220976145?mt=8" target="_blank">aqui</a>.
                    </p>
                </li>
                <li>
                    <span class="pull-left badge bg-green">4</span>
                    <p style="padding-left: 30px">
                        Assim que abrir o Google Assitente fale: <strong>TIA me ajuda</strong> e eu irei falar
                        com você pessoalmente.
                    </p>
                </li>
                <li>
                    <span class="pull-left badge bg-green">5</span>
                    <p style="padding-left: 30px">
                        Você pode me perguntar sobre como eu funciono, o que eu posso fazer,
                        ou dizer que quer que eu chame seus amigos.
                    </p>
                </li>
            </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>

</div>